<!DOCTYPE html>
<html>
<head>
  <title>Fantasy Foosball</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <h1>Fantasy Foosball</h1>
        </a>
      </div>
      <p class="navbar-text navbar-right">
        <% if user_signed_in? %>
          <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
          <% else %>
          <%= link_to "Sign in", new_user_session_path %>
          <%= link_to "Sign up", new_user_registration_path %>
        <% end %>
      </p>
    </div>
  </nav>

  <div class="container">
  	<p class="notice"><%= notice %></p>
  	<p class="alert"><%= alert %></p>
  	<%= yield %>
  </div>
  
</body>
</html>
